<header>

  <div class="top-links hide-for-small-only">
    <div class="row">
      <%= render "shared/locale_switcher" %>
      <div class="float-right social">
        <%= render "custom/shared/social_links" %>
      </div>
      <div class="hide-for-small-only float-right">
        <%= render "shared/top_links" %>
      </div>
    </div>
  </div>

  <div class="top-bar row">

    <%= link_to root_path, class: "logo show-for-small-only" do %>
      <%= image_tag(image_path_for('logo_header.png'), alt: t("layouts.header.logo")) %>
    <% end %>

    <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="float-right">
      <span class="menu-icon dark" data-toggle></span>
    </span>

    <div id="responsive-menu">
      <div class="top-bar-title medium-5 ">
        <%= link_to root_path, class: "hide-for-small-only", accesskey: "0" do %>
          <%= image_tag(image_path_for('logo_header.png'), class: 'hide-for-small-only', alt: t("layouts.header.logo")) %>
        <% end %>
        <%= link_to t("layouts.header.external_link_town_hall"), class: "hide-for-small-only medium-offset-1" do %>
          <%= image_tag(image_path_for('logo_lpa.png'),  alt: t("layouts.header.logo_town_hall")) %>
        <% end %>
        <%= link_to t("layouts.header.external_link_oficina_participacion"), class: "hide-for-small-only" do %>
          <%= image_tag(image_path_for('logo_participacion_lpgc.png'),  alt: t("layouts.header.logo_oficina_participacion")) %>
        <% end %>
      </div>

      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <%= render "shared/admin_login_items" %>
          <%= render "devise/menu/login_items" %>
        </ul>

        <div class="show-for-small-only">
          <div class="subnavigation row">
            <%= render "shared/subnavigation" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subnavigation expanded">
    <div class="row">
      <div class="hide-for-small-only">
        <%= render "shared/subnavigation" %>
      </div>
    </div>
  </div>

</header>
