<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<div class="jumbo highlight">
  <div class="row banner">
    <div class="small-12 medium-12 small-centered column text-center">
      <h1><%= t("layouts.header.open_city_title_html") %></h1>
    </div>
    <div class="small-6 medium-3 large-3 small-centered">
      <%= link_to t("layouts.header.register"), new_user_registration_path, class: "button expanded large" %>
    </div>
  </div>
</div>
<div class="small-12 row sub-banner">
  <p class="lead">
    <%= t("layouts.header.open_city_slogan_html") %>
  </p>
  <div class="small-8 medium-4 large-3 small-centered">
    <%= link_to t("layouts.header.more_info"), more_info_path, class: "button expanded large" %>
  </div>
</div>

<% if feature?("user.recommendations") && (@recommended_debates.present? || @recommended_proposals.present?) %>
  <%= render "recommended",
              recommended_debates: @recommended_debates,
              recommended_proposals: @recommended_proposals %>
<% end %>

<% cache [locale_and_user_status, @featured_debates, @featured_proposals, 'featured'] do %>
  <main>

    <div class="small-12 column text-center margin">
      <div class="row small-12 medium-7">
        <div class="small-12 medium-6 column padding">
          <h2>
            <%= image_tag('debatimos.png') %>
            <%= t("welcome.debates.title") %>
          </h2>
          <p><%= t("welcome.debates.description") %></p>
        </div>
        <div class="small-12 medium-6 column padding">
          <h2>
            <%= image_tag('proponemos.png') %>
            <%= t("welcome.proposal.title") %>
          </h2>
          <p><%= t("welcome.proposal.description") %></p>
        </div>
      </div>
      <div class="row small-12 medium-7">
        <div class="small-12 medium-6 column padding">
          <h2>
            <%= image_tag('decidimos.png') %>
            <%= t("welcome.decide.title") %>
          </h2>
          <p><%= t("welcome.decide.description") %></p>
        </div>
        <div class="small-12 medium-6 column padding">
          <h2>
            <%= image_tag('hacemos.png') %>
            <%= t("welcome.do.title") %>
          </h2>
          <p><%= t("welcome.do.description") %></p>
        </div>
      </div>
    </div>

    <div id="participate" class="small-12 medium-12 column padding">
      <div class="row padding">
        <h3 class="column">Participa en LPGC Decide</h3>
      </div>
      <div class="row">
        <div class="small-12 medium-4 column">
          <%= link_to debates_path do %>
            <%= image_tag('debate.png') %>
            <p>Opina sobre las cuestiones de la ciudad</p>
          <% end %>
        </div>
        <div class="small-12 medium-4 column">
          <%= link_to proposals_path do %>
            <%= image_tag('propon.png') %>
            <p>Crea propuestas ciudadanas</p>
          <% end %>
        </div>
        <div class="small-12 medium-4 column">
          <%= link_to budgets_path do %>
            <%= image_tag('decide.png') %>
            <p>Elige a qué proyectos se destina el presupuesto participativo</p>
          <% end %>
        </div>
      </div>
    </div>

  </main>
<% end %>
